<!DOCTYPE html>
<html lang="en" id = "mainPage">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calculate</title>
    <link rel="stylesheet" href="../static/calculate.css">
</head>
<body>
    <div class="container" id = "mainPage">
        <link rel="stylesheet" href="../static/calculate.css">
        <div class="result">
            <span>0</span>
        </div>
        <div class="button">
            <button class="item item1" value="AC">AC</button>
            <button class="item item1" value="+/-">+/-</button>
            <button class="item item1" value="%">%</button>
            <button class="item signs" value="/">／</button>
            <button class="item numbers" value="7" >7</button>
            <button class="item numbers" value="8">8</button>
            <button class="item numbers" value="9">9</button>
            <button class="item signs" value="*">＊</button>
            <button class="item numbers" value="4">4</button>
            <button class="item numbers" value="5">5</button>
            <button class="item numbers" value="6">6</button>
            <button class="item signs" value="-">－</button>
            <button class="item numbers" value="1">1</button>
            <button class="item numbers" value="2">2</button>
            <button class="item numbers" value="3">3</button>
            <button class="item signs" value="+">＋</button>
            <button class="item item_zero numbers" value="0">0</button>
            <button class="item numbers item3" value=".">．</button>
            <button class="item signs" value="=">=</button>

        </div>
    </div>
    <script src="../static/calculate.js"></script>
</body>
</html>