<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainPage</title>
    <link rel="stylesheet" href="../static/index.css">
    
</head>
<body>
    <nav class="nav-topBanner">
        <a href="{{url_for('index')}}"><h1 >practice</h1></a>
        <form class="search" action="">
            <input type="text" name="" id="">
            <button class="btn-search"><ion-icon  name="search-circle-outline"></ion-icon></button>
        </form>
        <ul>
            <li><a href="">
                <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
            </a></li>
            <li><a href="">
                <span class="icon"><ion-icon name="log-in-outline"></ion-icon></span>
            </a></li>
        </ul>
    </nav>
    <div class="nav-leftBanner">
        <ul>
            <li class="leftList current" data-id = 'a' ><a class = "left_a" href="{{url_for('page1')}}">
                <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                <span class="title">HomePage</span>
            </a></li>
            <li class="leftList" data-id = 'b'><a class = "left_a"  href="{{url_for('page2')}}">
                <span class="icon"><ion-icon name="file-tray-full-outline"></ion-icon></span>
                <span class="title">Protpolio</span>
            </a></li>
            <li class="leftList" data-id = 'c'><a class = "left_a" href="{{url_for('page3')}}">
                <span class="icon"><ion-icon name="hammer-outline"></ion-icon></span>
                <span class="title">Skills</span>
            </a></li>
            <li class="leftList" data-id = 'd'><a class = "left_a" href="{{url_for('page4')}}">
                <span class="icon"><ion-icon name="medal-outline"></ion-icon></span>
                <span class="title">Experience</span>
            </a></li>
            <!-- <li><button id = 'btn-fullScreen'>go fullScreen</button></li> -->
        </ul>
        <div class="toggle">
            <span class="icon"><ion-icon name="menu-outline"></ion-icon></span>
        </div>
        
    </div>
    <section class = "main" id="Main"> 
        <div class="main" id = "mainPage">
        
        </div>
    </section>

    
    <!-- <a href="{{url_for('calculate')}}">計算機</a> -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="../static/fullScreen.js"></script>
    <script src="../static/index.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
</body>
</html>